<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
  
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="../assets/img/logo.svg" alt="Icono 1">
        
        </div>

        <div class="login-form">
         
            <button><a href="/cap1">Capitulo 1 </a><img src="../assets/img/arcoiris.svg" alt=""></button> 
            <button>Capitulo 2 <img src="../assets/img/candado 1.svg" alt=""></button>
            <button>Capitulo 3 <img src="../assets/img/candado 1.svg" alt=""></button>
            <button>Capitulo 4 <img src="../assets/img/candado 1.svg" alt=""></button>
            <button>Capitulo 5 <img src="../assets/img/candado 1.svg" alt=""></button>
          
        </div>
        
    </div>
</body>
</html>