body {

  margin: 0;
  background-color: #EC8043;
  
}

.container {
  text-align: center;
 
  
}

.header img {
  margin-top: 3rem;
  margin-bottom: 5rem;
  width: 20rem;

}

h1 {
  font-size: 36px;
  color: #000;
  font-family: 'Jokerman', sans-serif;
  margin-top: 3rem;
  font-weight: normal;
                        
}





.login-form button {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 1rem;
  background-color: #FBEFEF;
  color: black;
  font-size: 30px;
  font-family:'Jokerman', sans-serif ;
  text-decoration: none;
  
}
.cap-title button
{
  background-color: black;
  color: white;
  width: 102%;
  border-radius: none;
  margin-bottom: 5rem;
}


.login-form button img {
  width: 1.5rem;
  margin-left: 1rem
  
  
  
}

.footer img{
  margin-top: 8rem;
  width: 2rem;
}

