<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
  
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="../assets/img/logo.svg" alt="Icono 1">
        
        </div>

        <div class="login-form">
         
            <div class="cap-title">
            <button>Capitulo 1</button> 
           </div>

            <div>
            <button>Suma </button>
            <button>Resta</button>
            </div>

            <div class="footer">
            <img src="../assets/img/arcoiris.svg" alt="">
        </div>
        </div>
        
    </div>
</body>
</html>
