<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
  
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="path/to/image1.png" alt="Icono 1">
            <img src="path/to/image2.png" alt="Icono 2">
            <img src="path/to/image3.png" alt="Icono 3">
        </div>
        <h1>Inicio de Sesión</h1>
        <div class="login-form">
            <input type="text" placeholder="Correo electrónico">
            <input type="password" placeholder="Contraseña">
            <button div class="button1">Iniciar Sesión</button>
        </div>
        <p class="forgot-password">Has olvidado tu contraseña? <a href="#">Recuperar</a></p>
        <h2>Acceso a Tu Simbo Trivia</h2>
    </div>
</body>
</html>
<router-outlet></router-outlet>