<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
  
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../assets/img/logoo.svg" alt="Icono 1">
            
        </div>
        <h1>Inicio de Sesión</h1>
        <div class="login-form">
            <input type="text" placeholder="Correo electrónico">
            <input type="password" placeholder="Contraseña">
            <button class="button1"><a href="/menu">Iniciar Sesión</a></button>
            
    
        </div>
        <p class="forgot-password">Has olvidado tu contraseña? <br><a href="#">Recuperar</a></p>
        <h2>Acceso a Tu Simbo Trivia</h2>
    </div>
</body>
</html>
